GIMP/
KDE/
QtProject.conf
Trolltech.conf
akregatorrc
baloofilerc
bluedevilglobalrc
cef_user_data/
coc/
configstore/
dconf/
deepin-image-viewerrc
discord/
discoverrc
dolphinrc
drkonqirc
emaildefaults
gh/
gtk-2.0/
gtk-3.0/
gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
kcminputrc
kconf_updaterc
kde.org/
kded5rc
kdeglobals
kglobalshortcutsrc
khotkeysrc
kinfocenterrc
kioclientrc
kmixrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib/
okularpartrc
pipewire-media-session/
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmarc
plasmashellrc
powermanagementprofilesrc
pulse/
sddmthemeinstallerrc
session/
spectaclerc
systemd/
systemsettingsrc
touchpadxlibinputrc
trashrc
user-dirs.dirs
user-dirs.locale
whatsapp-nativefier-d40211
xsettingsd/
deepin
spotify-tui
mimeapps.list
neofetch
